
<!doctype html>
<html lang="eng">

<head>
	
	<title>Admin Log in - Dossier</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=devicewidth, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="type/css" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" type="type/css" href="{{url_for('static',filename='fontawesome/js/all.min.js')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="type/css" href="{{url_for('static', filename='css/animate.min.css')}}">
	<link rel="stylesheet" type="type/css" href="{{url_for('static', filename='css/carousel.css')}}">
	<style type="text/css">
  body {
        background-color: rgb(224, 224, 224);   
}



	/* body{
		background-color: white;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 16px;
	} */
	a:hover{
		background-color: rgb(10, 10, 160);
		
	}

	</style>

</head>
<body>
<header>
<div class="container-fluid">
<div class="row">
<div class="col-md">
<nav class="navbar navbar-expand-md" style="background-color: rgb(4, 4, 121);">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="navbar-brand text-white">
		<a class="nav-link active text-white" aria-current="page" href="/admin">DOSSIER</a>
    </li>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
</div>
</header>
<main>
	<div class="container-fluid">
		<div class="row mt-5 justify-content-center"> 
			<div class="col-md-9 p-5 rounded-2" style="background-color: rgb(235, 235, 235);">
			<div class="row justify-content-center">
				<div class="col-md-6 rounded-2 text-center pt-4" style="overflow: scroll; background-color: rgb(224, 224, 224); height: 380px;">
						<main class="form-signin" id="signUpForm">
                            <form method="post" action="">
								<input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                                <h1 class="mb-5 fs-5 text-center">Account Recovery</h1>
                                    <p>Enter your email below, a link will be sent to the mail.<br>Follow the instructions in the mail to reset your password</p>
									{% with msg = get_flashed_messages(with_categories = True) %}
                                    {% if msg: %}
                                    {% for cat,m in msg: %}
                                    {% if cat == 'error': %}
                                    <div class="badge bg-danger mb-4 text-center">{{ m|safe}}</div>
                                    {% elif cat == 'success': %}
                                    <div class="badge bg-success mb-4  text-center">{{ m|safe}}</div>
                                    {% else: %}
                                    <div class="badge bg-warning mb-4  text-center">{{ m|safe}}</div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                <div class="form-floating text-dark">
                                    <input type="email" name="email" class="form-control mb-1" style="color: black; height:50px;" id="floatingMail" placeholder="name@example.com" required>
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <button class="w-25 btn btn-primary mt-3" type="submit" href="#">Send Link</button>
                            </form>
                        </main>
				</div>

					</div>
			</div>
			</div>
		</div>
	</div>
</main>
<div class="row mt-5" >
<footer class="footer mt-auto py-3 bg-dark text-center" style="position: fixed; left: 0px; bottom: 0px;">
<div class="container">
<span class="text-white"> DOSSIER | SevenLives Inc. &copy;2022</span>
	</div>
</footer>	

<!--<script src = "main.js" type="text/javascript"></script>-->
<script src="jquery.min.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">

	function showForm() {
		const dropdown = document.getElementById("dropdown")
	

	}
			
		</script>
</body>
</html>					
