<header class="p-3 bg-info text-white col-md-12">
    {% block header %}
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 border-end border-primary fw-bold text-primary">HOME</a></li>
          {% block dashboard %}<li><a href="#" class="nav-link px-2 border-end border-primary fw-bold text-primary">DASHBORD</a></li>{% endblock %}
          <li><a href="#" class="nav-link px-2 border-end border-primary fw-bold text-primary">{% block report %}REPORT{% endblock %}</a></li>
          <li><a href="#" class="nav-link px-2 fw-bold text-primary">BLOG</a></li>
        </ul>
        <div class="text-end">
          {% block signin %}<button type="button" class="btn btn-outline-primary me-2">Sign in</button>{% endblock %}
          <button type="button" class="btn btn-primary">{% block signup %}Sign up{% endblock %}</button>
        </div>
      </div>	
    </div>
    {% endblock %}
  </header>