
<!doctype html>
<html lang="eng">

<head>
	
	<title>Dossier by SevenLives</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=devicewidth, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="type/css" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" type="type/css" href="{{url_for('static',filename='fontawesome/js/all.min.js')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="type/css" href="{{url_for('static', filename='css/animate.min.css')}}">
	<link rel="stylesheet" type="type/css" href="{{url_for('static', filename='css/carousel.css')}}">
	<style type="text/css">
  body {
        background-color: black;    
}



	/* body{
		background-color: white;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 16px;
	} */
	a:hover{
		background-color: rgb(10, 10, 160);
		
	}

	</style>

</head>
<body>
<header>
<div class="container-fluid">
<div class="row">
<div class="col-md">
<nav class="navbar navbar-expand-md" style="background-color: rgb(4, 4, 121);">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="/">ADMIN AREA</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/admindashboard" onclick="return alert('please login')">DASHBORD</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
</div>
</header>
<main>
	<div class="container-fluid">
		<div class="row mt-5 justify-content-center">
			<div class="col-md-9 p-5 rounded-2" style="background-color: rgb(235, 235, 235);">
			<div class="row">
				<div class="col-md rounded-2 text-center pt-4" style="overflow: scroll; background-color: rgb(224, 224, 224); height: 380px;">
					<p><b> THIS IS ADMIN LOGIN AREA, PLEASE TAKE NOTE OF THE FOLLOWING BEFORE YOU PROCEED</b></p><hr>
						<P>Speech is necessary for learning, interacting with others and for people to develop. Speech begins at an early age and it develops as a person ages. There are different elements the endSpeech is necessary for learning, interacting with others and for people to develop. Speech begins at an early age and it develops as a person ages. There are different elements th.</P>
						<small>Please register <b><a style="font-style: italic; text-decoration: none;" href="/staffregistration" >HERE</a></b> if you don't have an accout yet. Note that this is mandatory for all the staffs </small>
				</div>
					<div class="col-md rounded-2 pt-5 px-5" style="background-color: rgb(4, 4, 121);  height: 380px; color: white;">
						 <main class="form-signin" id="signUpForm">
                            <form method="post" action="">
                                <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                                <h1 class="mb-5 fs-5 text-center">Admin Login</h1>
                                <div class="form-floating text-dark">
                                    <input type="email" name="email" class="form-control mb-1" style="color: black; height:50px;" id="floatingMail" placeholder="name@example.com" required>
                                <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating text-dark">
                                    <input type="password" name="pwd" class="form-control mb-1" style="height:50px;" id="floatingPassword" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
								<a href="/forgotpassword" class="offset-4" onclick="return confirm('A link will be send to your mail, follow the link to reset your password')">forgot password?</a>
                                <button class="w-25 btn btn-primary offset-4 mt-3" type="submit" href="#">Login</button>
                            </form>
                        </main>
					</div>
			</div>
			</div>
		</div>
	</div>
</main>
<div class="row mt-5" >
<footer class="footer mt-auto py-3 bg-dark text-center" style="position: fixed; left: 0px; bottom: 0px;">
<div class="container">
<span class="text-white">DOSSIER | SevenLives Inc. &copy;2022</span>
	</div>
</footer>	

<!--<script src = "main.js" type="text/javascript"></script>-->
<script src="jquery.min.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">

	function showForm() {
		const dropdown = document.getElementById("dropdown")
	

	}
			
		</script>
</body>
</html>					

<div class="col-md rounded-2 text-center pt-4" style="overflow: scroll; background-color: rgb(224, 224, 224); height: 380px;">
					<p><b> THIS IS ADMIN LOGIN AREA, PLEASE TAKE NOTE OF THE FOLLOWING BEFORE YOU PROCEED</b></p><hr>
						<P>Speech is necessary for learning, interacting with others and for people to develop. Speech begins at an early age and it develops as a person ages. There are different elements the endSpeech is necessary for learning, interacting with others and for people to develop. Speech begins at an early age and it develops as a person ages. There are different elements th.</P>
						<small>Please register <b><a style="font-style: italic; text-decoration: none;" href="/staffregistration" >HERE</a></b> if you don't have an accout yet. Note that this is mandatory for all the staffs </small>
				</div>
					<div class="col-md rounded-2 pt-5 px-5" style="background-color: rgb(4, 4, 121);  height: 380px; color: white;">
						 <main class="form-signin" id="signUpForm">
                            <form method="post" action="">
                                <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                                <h1 class="mb-5 fs-5 text-center">Admin Login</h1>
                                <div class="form-floating text-dark">
                                    <input type="email" name="email" class="form-control mb-1" style="color: black; height:50px;" id="floatingMail" placeholder="name@example.com" required>
                                <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating text-dark">
                                    <input type="password" name="pwd" class="form-control mb-1" style="height:50px;" id="floatingPassword" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
								<a href="/forgotpassword" class="offset-4" onclick="return confirm('A link will be send to your mail, follow the link to reset your password')">forgot password?</a>
                                <button class="w-25 btn btn-primary offset-4 mt-3" type="submit" href="#">Login</button>
                            </form>
                        </main>
					</div>