{% extends "sevenlivesInc.html" %}

{% block signup %}
	<button type="button" class="btn btn-primary">Sign out</button>
{% endblock %}

{% block homeimg %}                         
  <main class="form-signin" id="signUpForm">
	<form method="post" action="{{url_for('login')}}">
		<h1 class="mb-3 fs-5">Complete the field below to register<br><span><h6>All fields required</h6></span></h1>
		<div class="form-floating">
			<input type="text" name="fullname" class="form-control mb-1" style="background-color: rgb(241, 234, 225);" id="floatingName" placeholder="FirtName LastName" required>
		<label for="floatingInput">Full Name</label>
		</div>
		<div class="form-floating">
			<input type="email" name="email" class="form-control mb-1" style="background-color: rgb(241, 234, 225);" id="floatingMail" placeholder="name@example.com" required>
		<label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating">
			<input type="password" name="pwd" class="form-control mb-1" style="background-color: rgb(241, 234, 225);" id="floatingPassword" placeholder="Password" required>
		<label for="floatingPassword">Password</label>
		</div>
		<div class="form-floating">
			<input type="password" name="confirm-pwd" class="form-control mb-1" style="background-color: rgb(241, 234, 225);" id="floatingPassword_2" placeholder="Enter password again" required>
		<label for="floatingPassword">confirm password</label>
		</div>
		<div class="form-floating">
		<input type="number" name="phone" class="form-control mb-2" style="background-color: rgb(241, 234, 225);" id="floatingNumber" placeholder="Mobile number" required>
			<label for="floatingPassword">Phone Number</label>
		</div>
		<div name="agree" class="checkbox mb-3">
		<label>
			<input type="checkbox" value="remember-me">Agree to terms and condition 
		</label>
		</div>
		<div name="agree" class="checkbox mb-3">
		<label>
			<input type="checkbox" value="remember-me">Agree to terms and condition 
		</label>
		</div>
		<button class="w-25 btn btn-primary" type="submit" href="#">Register</button>
	</form>
</main>{% endblock %}
